.home-container {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/b77751c7-0e02-4941-af39-30514ff6b3e2/d9ff5a71-2080-4b2d-aec8-6976c3a38093/TR-tr-20211026-popsignuptwoweeks-perspective_alpha_website_small.jpg");
background-repeat: no-repeat;
background-size: cover;
  }

  .home-container::after {
    @apply absolute top-0 left-0 w-full h-full max-h-3xl smm3:max-h-xl z-0  bg-opac-200  ;
    content: " ";
  }

  .home-body::before {
    content: "";
     @apply h-h-91  block  ;
  }
  .home-body::after {
    content: "";
     @apply h-61 block smm3:hidden ;
  }